.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav {
    height: 3rem;
    display: flex;
    padding: 1rem;
}

nav a {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #666;
    flex: 1;
    padding: 1.5rem;
    font-size: 1.2rem;

}
nav a:hover {
    background-color: #666;
    color: #ccc;
}