body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.card {
    width: 260px;
    height: 400px;
    background-color: rgb(248, 248, 248);
    position: relative;
    border-radius: 0.5rem;
    font-size: 3rem;
    border: .5rem solid rgb(255, 255, 255);
    color: red;
    box-shadow: 0 0 2rem rgba(0,0,0 .1);

}

.heart {
    position: absolute;
}

.upper-left {
    left: 10px;
}

.number {
    color: black;
    font-size: 1.5rem;
    margin: 50px 19px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower-right {
    bottom: 0px;
    right: 10px;
    transform: rotate(180deg);
}