body {
    background-color: #dcdcdc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: px;
}

.title p {
    font-weight: bold;
}

.product-card {
    width: 200px;
}

img {
    width: 90%;
    margin: 30px 10px;
    align-self: center;
}

.product-image {
    background-color: #f5cf2d;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

small {
    color: white;
}

.product-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px;
    background-color: white;
}

.price {
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.product-model {
    margin: 0;
}