body {
    background-color: #dcdcdc;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.product-card {
    width: 300px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.product-image {
    background-color: #f5cf2d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.product-image small {
    color: white;
    
    bottom: 10px;
    right: 20px;
}

.product-information {
    padding: 20px;
}

.title {
    text-align: center;
}

.product-title {
    margin: 0;
    font-size: 1.2em;
}

.product-model {
    margin: 5px 0 15px;
    color: #666;
}

.product-description {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.price {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}
