.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    width: 100px;
    background-color: #ccc;
    margin-right: auto;
}

nav {
    height: 3rem;
    background: #ccc;
    display: flex;
    align-items: center;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #999;
    margin: 1rem;
} 

nav a:hover {
    color: #222;
}

.login {
    display: block;
    color: #222;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
}